body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(91, 131, 191), rgb(0, 0, 67));
    color: white;
    height: 60px;
}

header h1 {
    margin-left: 50%;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.search {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.search h2 {
    font-size: 30px;
    margin: 10px 0;
}

.search input {
    border-color: rgb(150, 150, 150);
    border-style: solid;
    border-radius: 5px;
    height: 30px;
    text-indent: 5px;
}

.search-btn {
    background-color: rgb(122, 157, 233);
    color: white;
    border: 0;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
}

.search ul {
    display: flex;
    flex-direction: column;
    border-top: 2px solid grey;
    padding: 10px 0;
}

.search ul button {
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: 2px solid rgb(150, 150, 150);
    margin-bottom: 10px;
}

.weather {
    flex: 3;
}

.weather h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.current {
    border: 3px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding-left: 5px;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
}

.forecast div {
    background-color: rgb(38, 38, 38);
    color: white;
    width: 18%;
    min-width: 130px;
    padding-left: 5px;
    margin: auto;
}

#day1 {
    margin-left: 0;
}

#day5 {
    margin-right: 0;
}

@media screen and (max-width: 950px) {
    .forecast div {
        margin: 0;
        margin-top: 10px;
        margin-right: 12px;
    }
}

@media screen and (max-width: 650px) {
    header h1 {
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .search ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .search ul button {
        width: 23%;
        height: 45px;
        margin: auto;
        margin-top: 10px;
    }
}
